header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav {
    display: inherit;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

body #home a.button {
    background-color: #022C3C;
}

body #home a.button:hover {
    background-color: #123d4f;
    color: aliceblue;
}