header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav {
    display: inherit;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

a.css-sghohy-MuiButtonBase-root-MuiButton-root {
    background-color: #022C3C;
}

a.css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #123d4f;
    color: aliceblue;
}